body{
    background-image: linear-gradient( coral ,hotpink,pink  );
    background-repeat: no-repeat;
    height: 445px;
    overflow-x: hidden;
}
.container{
    margin-top: -300px;
    margin-left: 100px ;
    border-radius: 10%;
    width: 300px;
    height: 500px;
    padding: 5px 100px;
    background-color: bisque;
}
.container .logo{
    width: 150px;
    border-radius: 80%;
}
p, h2{
    text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
}
h2:hover{
    text-shadow: 5px 5px 5px grey;

}
img{
    margin-left: 80px;
}
#gif{
    margin-left: -5px;
    margin-top: 25px;
}
.image{
    margin-left: 100px;
}
audio{
    margin-top: 20px;
}
.container:hover{
    box-shadow: 0 0 15px 20px black;
}
.logo{
    border: 8px double black;
}
.logo:hover{
    border: none;
    box-shadow: 0 0 10px rgb(12, 12, 12);
}
.container1{
    background-color: bisque;
    width: 300px;
    border-radius: 30px;
    margin-left: 800px;
    margin-top: 150px;
    padding: 5px 5px;
    text-align: center;
    font-family:cursive ;

}
.container1:hover{
    box-shadow: 0 0 50px rgb(12, 12, 12);
    font-family: fantasy;
}
